/**
*--------------------------------------------------------------------------
* Модуль: VGSidebar
* Автор: Vegas DEV
* Лицензия: смотри LICENSE.md
*--------------------------------------------------------------------------
**/

@import "./option/variables";
@import "./option/mixin";

:root {
	@include mix-vars('sidebar', $sidebar-map, $prefix);
}

.vg-sidebar {
	display: none;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: var(--vg-sidebar-backdrop-bg);
	transition: all .5s ease-in-out;

	&:not(.show) {
		display: block;
	}

	.show.fade {
		opacity: 1;
		visibility: visible;
	}
}
